/* margin & padding standaard op 0, en box-sizing op border-box */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
    background-color: lightgreen;
}

p {
    background-color: green;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;    
}

span {
    background-color: white;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.voorbeeld {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    width: 500px; 
    height: 500px;
    background-image: linear-gradient(210deg, lightblue, rgb(0, 51, 128), rgb(2, 0, 100));
    color: white;
    border-radius: 3px;
    border: lightgray 2px solid;
    margin-left: auto;
    margin-right: auto;
    padding: 70px;
}

.voorbeeld2 {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    width: 300px; 
    height: 300px;
    background-image: linear-gradient(310deg, rgb(173, 230, 213), rgb(0, 128, 58), rgb(32, 100, 0));
    color: white;
    border-radius: 3px;
    border: lightgray 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin: 150px;
}

.blokopdr7 {
    font-weight: 400;
    text-align: left;
    box-sizing: content-box;
    background-color: lightgray;
    border-top: none;
    border-bottom: none;
    margin: 0;
    line-height: 18px;
}

.blok {
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border-width: 5px;
    color: rgb(58, 61, 63);
    border: black 5px solid;
    outline: 3px lightgray solid;
    background-color: lightgray;
}

h4 {
    margin: 0;
}

.boxes {
    float: left;
}

.contentboxes {
    margin: 5px;
    float: left;
}

.borderboxes {
    margin: 400px;
    float: left;
}

.box1 {
    width: 20px;
    height: 20px;
    margin: 7px;
    padding: 4px;
    border: green 3px solid;
    border-width: 8px;
    box-sizing: content-box;
    background-color: pink;
}

.box2 {
    width: 40px;
    height: 40px;
    margin: 15px;
    padding: 8px;
    border: rgb(125, 226, 43) 5px dashed;
    border-width: 3px;
    box-sizing: content-box;
    background-color: rgb(192, 248, 255); 
}

.box3 {
    width: 80px;
    height: 75px;
    margin: 25px;
    padding: 20px;
    border: blueviolet 5px solid;
    border-width: 3px;
    box-sizing: content-box;
    background-color: rgb(255, 192, 250); 
}

.box4 {
    width: 90px;
    height: 220px;
    margin: 15px;
    padding: 8px;
    border: blue double;
    border-width: 33px;
    box-sizing: content-box;
    background-color: rgb(255, 215, 192); 
}

.box5 {
    width: 400px;
    height: 20px;
    margin: 65px;
    padding: 25px;
    border: rgb(226, 43, 119) 40px solid;
    border-width: 45px;
    box-sizing: content-box;
    background-color: rgb(243, 255, 192); 
}

.box6 {
    width: 900px;
    height: 850px;
    margin: 15px;
    padding: 8px;
    border: rgb(73, 226, 43) 16px solid;
    border-width: 70px;
    box-sizing: border-box;
    background-color: rgb(226, 255, 192); 
}

.box7 {
    width: 300px;
    height: 700px;
    margin: 150px;
    padding: 8px;
    border: rgb(43, 198, 226) 16px dashed;
    border-width: 13px;
    box-sizing: border-box;
    background-color: rgb(255, 192, 245); 
}

.box8 {
    width: 130px;
    height: 50px;
    margin: 90px;
    padding: 70px;
    border: rgb(226, 101, 43) 16px solid;
    border-width: 14px;
    box-sizing: border-box;
    background-color: rgb(226, 255, 192); 
}

.box9 {
    width: 150px;
    height: 100px;
    margin: 45px;
    padding: 55px;
    border-width: 30px;
    box-sizing: border-box;
    background-color: rgb(255, 222, 192); 
}

.box10 {
    width: 200px;
    height: 180px;
    margin: 55px;
    padding: 8px;
    border: rgb(226, 101, 43) 16px solid;
    border-width: 3px;
    box-sizing: border-box;
    background-color: rgb(226, 255, 192); 
}